.aboutus-light:hover {
    cursor: pointer;
    border: 2px solid white; /* Border-radius on hover */
    font-weight: 600;
}

.aboutus-light:hover .card-title {
    font-weight: 600;
}

.aboutus-dark {
    color:white;
    background-color: gray;
}

.aboutus-dark:hover {
    cursor: pointer;
    border: 2px solid gray; /* Border-radius on hover */
    font-weight: 600;
}
.aboutus-dark:hover .card-title {
    color:white;
    font-weight: 600;
}