.feedback-dark {
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* Light text */
}

.feedback-light {
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text */
}

.feedback-textarea-dark {
    background-color: #495057; /* Dark textarea background */
    color: #ffffff; /* Light text */
}

.feedback-textarea-light {
    background-color: #f8f9fa; /* Light textarea background */
    color: #000000; /* Dark text */
}

.table-dark {
    background-color: #343a40; /* Dark table background */
    color: #ffffff; /* Light text */
}

.table-light {
    background-color: #ffffff; /* Light table background */
    color: #000000; /* Dark text */
}
